Repository akarambizi/TasksTrack, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, docker, github, documentation, migrations

.github/labeler.yml:

backend:
    - changed-files:
          - any-glob-to-any-file: ['server/**/*']

frontend:
    - changed-files:
          - any-glob-to-any-file: ['client/**/*']

docker:
    - changed-files:
          - any-glob-to-any-file: ['docker-compose.yml', 'client/Dockerfile', 'server/Dockerfile']

github:
    - changed-files:
          - any-glob-to-any-file: ['.github/**/*']

documentation:
    - changed-files:
          - any-glob-to-any-file: ["'**/*.md'"]

migrations:
    - changed-files:
          - any-glob-to-any-file: ['server/Migrations/**/*']

feat: integrate toast notification system with Dashboard and add ToastContainer component
  client/src/App.tsx
  client/src/components/DashBoard/DashBoard.tsx
  client/src/components/index.ts
  client/src/components/ui/index.ts
  client/src/components/ui/toast-container.tsx
  client/src/components/ui/toast-test-button.tsx
  client/src/services/toastService.ts
  client/src/services/toastService.tsx
Labels: frontend

remove unused IAuthResult import and simplify response handling in useForm hook
  client/src/hooks/useForm.ts
Labels: frontend

feat: update Dockerfile and docker-compose for improved development setup; enhance token validation and toast notifications
  client/Dockerfile
  client/src/api/apiClient.ts
  client/src/api/userAuth.ts
  client/src/components/ui/toast-test-button.tsx
  client/src/hooks/use-toast.ts
  client/vite.config.ts
  docker-compose.yml
Labels: frontend, docker

feat: simplify authentication error handling; enhance login and signup flows with loading states
  client/src/api/apiClient.ts
  client/src/api/userAuth.ts
  client/src/components/Auth/Login.tsx
  client/src/components/Auth/SignUp.tsx
  client/src/context/userAuth.tsx
  client/src/hooks/useForm.ts
Labels: frontend

feat: add Makefile for simplified development commands; enhance README with quick start instructions
  Makefile
  ReadMe.md
Labels: none

Update client/src/api/apiClient.ts
  client/src/api/apiClient.ts
Labels: frontend

refactor: simplify response error handling in apiClient; remove redundant comments and improve clarity
  client/src/api/apiClient.ts
Labels: frontend

fix: update PostgreSQL image version to 17 for improved stability
  docker-compose.yml
Labels: docker

feat: implement authentication context and logic; refactor auth provider and related hooks
  client/src/api/API_DOCS.md
  client/src/context/index.ts
  client/src/context/useAuth.ts
  client/src/context/userAuth.tsx
  client/src/context/userAuthProvider.tsx
  client/src/hooks/useAuth.ts
  client/src/hooks/useAuthLogic.ts
  client/src/services/authService.ts
Labels: frontend

feat: enhance README with detailed features and prerequisites; refactor authentication hooks and components for improved clarity and error handling
  ReadMe.md
  client/src/api/userAuth.ts
  client/src/components/Auth/Login.tsx
  client/src/components/Auth/SignUp.tsx
  client/src/hooks/index.ts
  client/src/hooks/useAuth.ts
  client/src/hooks/useForm.ts
  client/src/hooks/userAuth.ts
Labels: frontend

refactor: streamline login form handling; remove unused login logic and improve error management
  client/src/components/Auth/Login.tsx
  client/src/hooks/useForm.ts
Labels: frontend

refactor: enhance useForm hook with improved mutation handling and type definitions
  client/src/hooks/useForm.ts
Labels: frontend

fix: correct import path for ToastContainer in toastService
  client/src/services/toastService.tsx
Labels: frontend

feat: refactor useAuth and useAuthLogic for improved authentication handling
  client/src/context/AuthContext.tsx
  client/src/context/AuthProvider.tsx
  client/src/context/index.ts
  client/src/context/useAuth.ts
  client/src/hooks/useAuthLogic.ts
Labels: frontend

fix: rename mockHandleLoginSubmit to mockHandleSubmit
  client/src/components/Auth/Login.spec.tsx
Labels: frontend

refactor: update ToDoTask and related services for async operations and improved error handling
  PROJECT_PLAN.md
  docker-compose.yml
  server/Controllers/ToDoTaskController.cs
  server/Models/ToDoTask.cs
  server/Repositories/IToDoTaskRepository.cs
  server/Repositories/ToDoTaskRepository.cs
  server/Services/IToDoTaskService.cs
  server/Services/ToDoTaskService.cs
  server/Tests/Controllers/ToDoTaskControllerTest.cs
  server/Tests/Services/ToDoTaskServiceTest.cs
Labels: backend, docker

refactor: update Makefile and docker-compose.yml for improved syntax and health checks; enhance tests with DateTime for CreatedDate
  Makefile
  docker-compose.yml
  server/Program.cs
  server/Tests/Controllers/ToDoTaskControllerTest.cs
  server/Tests/Services/ToDoTaskServiceTest.cs
Labels: backend, docker

refactor: enhance Makefile and docker-compose.yml for improved service startup and health checks; add resource reservations and security options
  Makefile
  docker-compose.yml
Labels: docker

refactor: enhance error handling in ToDoTaskController; improve validation in ToDoTask model; update service methods for better clarity
  docker-compose.yml
  server/Controllers/ToDoTaskController.cs
  server/Models/ToDoTask.cs
  server/Program.cs
  server/Services/ToDoTaskService.cs
Labels: backend, docker

fix: correct typo in project description
  ReadMe.md
Labels: none

Add GitHub Copilot instructions for client and server development
  .github/copilot-instructions-client.md
  .github/copilot-instructions-server.md
  .github/copilot-instructions.md
Labels: github

docs: Update database setup documentation for clarity and consistency
  server/docs/README.md
  server/docs/api-development.md
  server/docs/authentication.md
  server/docs/clean-architecture.md
  server/docs/db-setup.md
  server/docs/dependency-injection.md
  server/docs/getting-started.md
  server/docs/learning-notes.md
  server/docs/repository-pattern.md
  server/docs/todos.md
  server/docs/unit-tests.md
Labels: backend

docs: Enhance project documentation with detailed sections on architecture, API, and testing
  ReadMe.md
Labels: none

Added docs and copilot-instructions (#45)
  .github/copilot-instructions-client.md
  .github/copilot-instructions-server.md
  .github/copilot-instructions.md
  ReadMe.md
  server/docs/README.md
  server/docs/api-development.md
  server/docs/authentication.md
  server/docs/clean-architecture.md
  server/docs/db-setup.md
  server/docs/dependency-injection.md
  server/docs/getting-started.md
  server/docs/learning-notes.md
  server/docs/repository-pattern.md
  server/docs/todos.md
  server/docs/unit-tests.md
Labels: backend, github

feat: Implement JWT authentication and remove token validation endpoint
  server/Controllers/AuthController.cs
  server/Program.cs
  server/Services/AuthService.cs
  server/Services/IAuthService.cs
  server/server.csproj
Labels: backend

feat: Implement refresh token functionality with new endpoint and database support
  server/Controllers/AuthController.cs
  server/Migrations/20251019095410_AddRefreshTokenFields.Designer.cs
  server/Migrations/20251019095410_AddRefreshTokenFields.cs
  server/Models/AuthResult.cs
  server/Models/RefreshTokenRequest.cs
  server/Models/User.cs
  server/Program.cs
  server/Repositories/AuthRepository.cs
  server/Repositories/IAuthRepository.cs
  server/Services/AuthService.cs
  server/Services/IAuthService.cs
  server/docs/authentication.md
Labels: backend, migrations

feat: Refactor Docker setup and implement refresh token migration with troubleshooting documentation
  docker-compose.yml
  server/Dockerfile
  server/Migrations/20251019095410_AddRefreshTokenFields.cs
  server/Migrations/20251019120000_AddRefreshTokenToUsers.Designer.cs
  server/Migrations/20251019120000_AddRefreshTokenToUsers.cs
  server/Migrations/TasksTrackContextModelSnapshot.cs
  server/appsettings.Development.json
  server/docs/README.md
  server/docs/migrations/case-studies/refresh-token-migration.md
  server/docs/migrations/troubleshooting-guide.md
Labels: backend, docker, migrations

feat: Remove token validation endpoint and refactor authentication handling to use Authorization headers
  client/src/api/API_DOCS.md
  client/src/api/apiClient.ts
  client/src/api/userAuth.ts
  client/src/components/Header/UserMenu.tsx
  client/src/context/AuthContext.tsx
  client/src/context/ProtectedRoute.tsx
  client/src/context/useAuth.ts
  client/src/hooks/useAuth.ts
  client/src/hooks/useAuthLogic.ts
  client/src/mock-server/data/auth/auth.middleware.ts
  client/src/services/authService.ts
  server/Controllers/AuthController.cs
  server/Controllers/ToDoTaskController.cs
  server/Controllers/UsersController.cs
Labels: backend, frontend

feat: Implement JWT authentication and remove token validation endpoint
  server/Controllers/AuthController.cs
  server/Program.cs
  server/Services/AuthService.cs
  server/Services/IAuthService.cs
  server/server.csproj
Labels: backend

feat: Refactor authentication hooks and queries for improved structure and clarity
  client/src/components/Header/UserMenu.tsx
  client/src/components/Tasks/TaskOptionsMenu.tsx
  client/src/components/Tasks/Tasks.tsx
  client/src/context/AuthContext.tsx
  client/src/context/AuthProvider.tsx
  client/src/context/ProtectedRoute.tsx
  client/src/context/index.ts
  client/src/context/useAuthContext.ts
  client/src/hooks/index.ts
  client/src/hooks/useAuthLogic.ts
  client/src/hooks/useForm.ts
  client/src/queries/auth.ts
  client/src/queries/index.ts
  client/src/queries/tasks.ts
  client/src/queries/todoTasks.ts
Labels: frontend

feat: Implement refresh token functionality with new endpoint and database support
  server/Controllers/AuthController.cs
  server/Migrations/20251019095410_AddRefreshTokenFields.Designer.cs
  server/Migrations/20251019095410_AddRefreshTokenFields.cs
  server/Models/AuthResult.cs
  server/Models/RefreshTokenRequest.cs
  server/Models/User.cs
  server/Program.cs
  server/Repositories/AuthRepository.cs
  server/Repositories/IAuthRepository.cs
  server/Services/AuthService.cs
  server/Services/IAuthService.cs
  server/docs/authentication.md
Labels: backend, migrations

feat: Refactor Docker setup and implement refresh token migration with troubleshooting documentation
  docker-compose.yml
  server/Dockerfile
  server/Migrations/20251019095410_AddRefreshTokenFields.cs
  server/Migrations/20251019120000_AddRefreshTokenToUsers.Designer.cs
  server/Migrations/20251019120000_AddRefreshTokenToUsers.cs
  server/Migrations/TasksTrackContextModelSnapshot.cs
  server/appsettings.Development.json
  server/docs/README.md
  server/docs/migrations/case-studies/refresh-token-migration.md
  server/docs/migrations/troubleshooting-guide.md
Labels: backend, docker, migrations

feat: Remove token validation endpoint and refactor authentication handling to use Authorization headers
  client/src/api/API_DOCS.md
  client/src/api/apiClient.ts
  client/src/api/userAuth.ts
  client/src/components/Header/UserMenu.tsx
  client/src/context/AuthContext.tsx
  client/src/context/ProtectedRoute.tsx
  client/src/context/useAuth.ts
  client/src/hooks/useAuth.ts
  client/src/hooks/useAuthLogic.ts
  client/src/mock-server/data/auth/auth.middleware.ts
  client/src/services/authService.ts
  server/Controllers/AuthController.cs
  server/Controllers/ToDoTaskController.cs
  server/Controllers/UsersController.cs
Labels: backend, frontend

feat: upgrade to .NET 9 and enhance auth security
  .github/workflows/run-tests.yml
  ReadMe.md
  docs/NET8_TO_NET9_UPGRADE_GUIDE.md
  docs/NET_UPGRADE_CHECKLIST.md
  server/Controllers/AuthController.cs
  server/Dockerfile
  server/Migrations/20251021052830_UpdateToNet9Migration.Designer.cs
  server/Migrations/20251021052830_UpdateToNet9Migration.cs
  server/Services/AuthService.cs
  server/Services/IAuthService.cs
  server/Tests/Tests.csproj
  server/server.csproj
Labels: backend, docker, github, migrations

feat: enhance test coverage commands to focus on Controllers and Services
  server/Makefile
Labels: backend

Enhance test coverage commands to focus on Controllers and Services
  server/Makefile
Labels: backend

Refactor logout method to invalidate refresh token and update authentication documentation
  server/Controllers/AuthController.cs
  server/Dockerfile
  server/docs/authentication.md
Labels: backend, docker

update docs
  ReadMe.md
Labels: none

Update project plan
  PROJECT_PLAN.md
Labels: none

feat: Transform TasksTrack to HabitTrack - Complete migration from tasks to habits
  PROJECT_PLAN.md
  client/src/api/habit.ts
  client/src/api/habit.types.ts
  client/src/components/Habits/AddHabitDialog.tsx
  client/src/components/Habits/HabitOptionsMenu.tsx
  client/src/components/Habits/Habits.tsx
  client/src/components/Habits/HabitsCard.tsx
  client/src/components/Habits/HabitsCardList.spec.tsx
  client/src/components/Habits/HabitsCardList.tsx
  client/src/components/Habits/TasksContainer.tsx
  client/src/components/Habits/TasksEmpty.tsx
  client/src/components/Habits/TasksTable.tsx
  client/src/components/Habits/index.ts
  client/src/components/Habits/useHabitForm.ts
  server/Controllers/HabitController.cs
  server/Data/TasksTrackContext.cs
  server/DependencyInjectionSetup.cs
  server/Models/Habit.cs
  server/Repositories/HabitRepository.cs
  server/Repositories/IHabitRepository.cs
  server/Services/HabitService.cs
  server/Services/IHabitService.cs
Labels: backend, frontend
