Repository akarambizi/TasksTrack, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, docker, github, documentation, migrations

refactor: Complete cleanup of Task system - HabitTrack pure migration
  client/src/api/index.ts
  client/src/api/toDoTask.ts
  client/src/api/toDoTask.types.ts
  client/src/components/Habits/HabitsContainer.tsx
  client/src/components/Habits/HabitsEmpty.tsx
  client/src/components/Habits/HabitsTable.tsx
  client/src/components/Habits/TasksContainer.tsx
  client/src/components/Habits/TasksEmpty.tsx
  client/src/components/Habits/TasksTable.tsx
  client/src/components/Habits/index.ts
  server/Controllers/ToDoTaskController.cs
  server/Data/TasksTrackContext.cs
  server/DependencyInjectionSetup.cs
  server/Migrations/20260122080910_RenameTasksToHabits.Designer.cs
  server/Migrations/20260122080910_RenameTasksToHabits.cs
  server/Models/ToDoTask.cs
  server/Repositories/IToDoTaskRepository.cs
  server/Repositories/ToDoTaskRepository.cs
  server/Services/IToDoTaskService.cs
  server/Services/ToDoTaskService.cs
Labels: backend, frontend, migrations

Complete task-to-habit migration
  client/src/App.tsx
  client/src/components/Habits/AddHabitDialog.tsx
  client/src/components/Habits/HabitOptionsMenu.tsx
  client/src/components/Habits/HabitsContainer.tsx
  client/src/components/Habits/HabitsEmpty.tsx
  client/src/components/Habits/useHabitForm.ts
  client/src/components/Pomodoro/Pomodoro.tsx
  client/src/components/Pomodoro/PomodoroDialog.tsx
  client/src/components/Tasks/AddTaskDialog.tsx
  client/src/components/Tasks/TaskOptionsMenu.tsx
  client/src/components/Tasks/Tasks.tsx
  client/src/components/Tasks/TasksContainer.tsx
  client/src/components/Tasks/TasksEmpty.tsx
  client/src/components/Tasks/TasksTable.tsx
  client/src/components/Tasks/index.ts
  client/src/components/Tasks/useTaskForm.ts
  client/src/components/index.ts
  client/src/components/ui/toast-container.tsx
  client/src/hooks/queryKeys.ts
  client/src/queries/habits.ts
  client/src/queries/index.ts
  client/src/queries/tasks.ts
  client/src/queries/todoTasks.ts
  server/Tests/Controllers/HabitControllerTest.cs
  server/Tests/Controllers/ToDoTaskControllerTest.cs
  server/Tests/Services/HabitServiceTest.cs
  server/Tests/Services/ToDoTaskServiceTest.cs
Labels: backend, frontend

Fix habit creation UI issue
  client/src/api/habit.ts
  client/src/components/Habits/Habits.tsx
  client/src/components/Habits/HabitsEmpty.tsx
  client/src/components/Habits/HabitsTable.tsx
  client/src/components/Habits/useHabitForm.ts
  client/src/components/Sidebar/SideBarLinks.tsx
  server/DependencyInjectionSetup.cs
  server/Models/Habit.cs
  server/Tests/Controllers/HabitControllerTest.cs
  server/Tests/Services/HabitServiceTest.cs
Labels: backend, frontend

Address PR review feedback and improve code quality
  PROJECT_PLAN.md
  client/src/api/habit.ts
  client/src/components/Habits/HabitOptionsMenu.tsx
  client/src/components/Habits/Habits.tsx
  server/Controllers/HabitController.cs
  server/Services/HabitService.cs
  server/Services/IHabitService.cs
Labels: backend, frontend

Update copilot instructions: remove emojis, add guidelines
  .github/copilot-instructions-client.md
  .github/copilot-instructions-server.md
  .github/copilot-instructions.md
Labels: github

Reorganize queries and centralize toast notifications
  client/src/api/habit.ts
  client/src/api/userAuth.ts
  client/src/components/Habits/AddHabitDialog.tsx
  client/src/components/Habits/HabitOptionsMenu.tsx
  client/src/components/Habits/useHabitForm.ts
  client/src/hooks/queryKeys.ts
  client/src/queries/auth.ts
  client/src/queries/habits.ts
  client/src/queries/index.ts
  client/src/queries/queryKeys.ts
Labels: frontend

Update instructions and improve interface reusability
  .github/copilot-instructions-client.md
  .github/copilot-instructions-server.md
  .github/copilot-instructions.md
  client/src/components/Habits/useHabitForm.ts
Labels: frontend, github

feat: add habit logging frontend
  .github/copilot-instructions-client.md
  .github/copilot-instructions-server.md
  .github/copilot-instructions.md
  client/package-lock.json
  client/package.json
  client/src/api/habit.ts
  client/src/api/habit.types.ts
  client/src/api/habitLog.spec.ts
  client/src/api/habitLog.ts
  client/src/components/Habits/AddHabitDialog.tsx
  client/src/components/Habits/AddHabitLogDialog.spec.tsx
  client/src/components/Habits/AddHabitLogDialog.tsx
  client/src/components/Habits/HabitDetailPage.tsx
  client/src/components/Habits/HabitLogStats.tsx
  client/src/components/Habits/HabitLogs.spec.tsx
  client/src/components/Habits/HabitLogs.tsx
  client/src/components/Habits/Habits.tsx
  client/src/components/Habits/index.ts
  client/src/components/providers/query-client-provider.tsx
  client/src/hooks/index.ts
  client/src/hooks/useHabitLogForm.spec.ts
  client/src/hooks/useHabitLogForm.ts
  client/src/mock-server/data/auth/auth.middleware.ts
  client/src/mock-server/server.ts
  client/src/queries/habitLogs.spec.tsx
  client/src/queries/habitLogs.ts
  client/src/queries/habits.ts
  client/src/queries/index.ts
  client/src/queries/queryKeys.ts
  client/src/test-setup.ts
  client/vitest.config.ts
  client/yarn.lock
Labels: frontend, github

feat: add habit logging backend
  .github/copilot-instructions.md
  server/Controllers/HabitLogController.cs
  server/Data/TasksTrackContext.cs
  server/DependencyInjectionSetup.cs
  server/Migrations/20260124064821_AddHabitLogTable.Designer.cs
  server/Migrations/20260124064821_AddHabitLogTable.cs
  server/Models/HabitLog.cs
  server/Repositories/HabitLogRepository.cs
  server/Repositories/IHabitLogRepository.cs
  server/Services/HabitLogService.cs
  server/Services/IHabitLogService.cs
  server/Tests/Controllers/HabitLogControllerTest.cs
  server/Tests/Services/HabitLogServiceTest.cs
Labels: backend, github, migrations

fix: remove duplicate function merge conflict
  client/src/api/habit.ts
Labels: frontend

fix: address PR review comments
  server/Controllers/HabitLogController.cs
  server/Migrations/20260124094443_UpdateHabitLogDateToDateOnlyAndAddIndexes.Designer.cs
  server/Migrations/20260124094443_UpdateHabitLogDateToDateOnlyAndAddIndexes.cs
  server/Models/HabitLog.cs
  server/Repositories/HabitLogRepository.cs
  server/Repositories/IHabitLogRepository.cs
  server/Services/HabitLogService.cs
  server/Services/IHabitLogService.cs
  server/Tests/Controllers/HabitLogControllerTest.cs
  server/Tests/Services/HabitLogServiceTest.cs
Labels: backend, migrations

fix: complete DateOnly test conversions and update delete test behavior
  server/Tests/Controllers/HabitLogControllerTest.cs
  server/Tests/Services/HabitLogServiceTest.cs
  server/Tests/TestResults/95c9bde5-e0fd-4e6d-8ead-eb8e3713758e/coverage.json
  server/Tests/coverage.json
Labels: backend

feat: add habit logging backend API (#52)
  .github/copilot-instructions.md
  server/Controllers/HabitLogController.cs
  server/Data/TasksTrackContext.cs
  server/DependencyInjectionSetup.cs
  server/Migrations/20260124064821_AddHabitLogTable.Designer.cs
  server/Migrations/20260124064821_AddHabitLogTable.cs
  server/Migrations/20260124094443_UpdateHabitLogDateToDateOnlyAndAddIndexes.Designer.cs
  server/Migrations/20260124094443_UpdateHabitLogDateToDateOnlyAndAddIndexes.cs
  server/Models/HabitLog.cs
  server/Repositories/HabitLogRepository.cs
  server/Repositories/IHabitLogRepository.cs
  server/Services/HabitLogService.cs
  server/Services/IHabitLogService.cs
  server/Tests/Controllers/HabitLogControllerTest.cs
  server/Tests/Services/HabitLogServiceTest.cs
  server/Tests/TestResults/95c9bde5-e0fd-4e6d-8ead-eb8e3713758e/coverage.json
  server/Tests/coverage.json
Labels: backend, github, migrations

feat: complete habit logging frontend implementation
  .github/copilot-instructions.md
  client/src/App.tsx
  client/src/components/Habits/AddHabitLogDialog.spec.tsx
  client/src/components/Habits/HabitDetailPage.spec.tsx
  client/src/components/Habits/HabitLogStats.spec.tsx
  client/src/components/Habits/HabitLogStats.tsx
  client/src/components/Habits/HabitOptionsMenu.tsx
  client/src/components/Habits/Habits.tsx
  client/src/components/index.ts
Labels: frontend, github

fix: correct auth hook import path
  client/src/api/habit.types.ts
  client/src/api/habitLog.spec.ts
  client/src/api/habitLog.ts
  client/src/hooks/useHabitLogForm.spec.ts
  client/src/hooks/useHabitLogForm.ts
Labels: frontend

fix: remove stray ESLint disable comment
  client/src/mock-server/data/auth/auth.middleware.ts
Labels: frontend

fix: move Express import to top of file
  client/src/mock-server/data/auth/auth.middleware.ts
Labels: frontend

refactor: extract query cache time constants
  client/src/components/providers/query-client-provider.tsx
  client/src/queries/constants.ts
  client/src/queries/habitLogs.ts
  client/src/queries/habits.ts
Labels: frontend

updated project plan
  PROJECT_PLAN.md
Labels: none

feat: add habit logging frontend (#51)
  .github/copilot-instructions-client.md
  .github/copilot-instructions-server.md
  PROJECT_PLAN.md
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/api/habit.ts
  client/src/api/habit.types.ts
  client/src/api/habitLog.spec.ts
  client/src/api/habitLog.ts
  client/src/components/Habits/AddHabitDialog.tsx
  client/src/components/Habits/AddHabitLogDialog.spec.tsx
  client/src/components/Habits/AddHabitLogDialog.tsx
  client/src/components/Habits/HabitDetailPage.spec.tsx
  client/src/components/Habits/HabitDetailPage.tsx
  client/src/components/Habits/HabitLogStats.spec.tsx
  client/src/components/Habits/HabitLogStats.tsx
  client/src/components/Habits/HabitLogs.spec.tsx
  client/src/components/Habits/HabitLogs.tsx
  client/src/components/Habits/HabitOptionsMenu.tsx
  client/src/components/Habits/Habits.tsx
  client/src/components/Habits/index.ts
  client/src/components/index.ts
  client/src/components/providers/query-client-provider.tsx
  client/src/hooks/index.ts
  client/src/hooks/useHabitLogForm.spec.ts
  client/src/hooks/useHabitLogForm.ts
  client/src/mock-server/data/auth/auth.middleware.ts
  client/src/mock-server/server.ts
  client/src/queries/constants.ts
  client/src/queries/habitLogs.spec.tsx
  client/src/queries/habitLogs.ts
  client/src/queries/habits.ts
  client/src/queries/index.ts
  client/src/queries/queryKeys.ts
  client/src/test-setup.ts
  client/vitest.config.ts
  client/yarn.lock
Labels: frontend, github

Add comprehensive repository tests
  server/TestResults/bf443270-73cf-45e5-a889-0dc7550c3cee/coverage.cobertura.xml
  server/Tests/Repositories/HabitLogRepositoryTest.cs
  server/coveragereport/Summary.txt
Labels: backend

Add context tests and improve coverage
  server/Tests/Data/TasksTrackContextTest.cs
Labels: backend

Fix context tests and data layer coverage
  server/TestResults/b405552e-d992-4d96-b777-0bd83d71dd19/coverage.cobertura.xml
  server/Tests/Data/TasksTrackContextTest.cs
  server/coveragereport/Summary.txt
Labels: backend

fix: achieve zero failing tests across frontend and backend
  .gitignore
  client/package-lock.json
  client/package.json
  client/src/components/Auth/ResetPassword.spec.tsx
  client/src/components/Auth/ResetPassword.tsx
  client/src/components/Auth/SignUp.spec.tsx
  client/src/components/Auth/SignUp.tsx
  client/src/components/Habits/AddHabitDialog.spec.tsx
  client/src/components/Habits/HabitOptionsMenu.spec.tsx
  client/src/components/Habits/HabitOptionsMenu.tsx
  client/yarn.lock
  server/Tests/Controllers/AuthControllerTest.cs
  server/Tests/Controllers/HabitControllerTest.cs
  server/Tests/Repositories/HabitLogRepositoryTest.cs
  server/Tests/Repositories/HabitRepositoryTest.cs
  server/Tests/Services/AuthServiceTest.cs
Labels: backend, frontend

fix: update test expectation to include createdBy field
  client/src/api/habitLog.spec.ts
  client/src/components/Habits/AddHabitLogDialog.spec.tsx
  client/src/components/Habits/HabitDetailPage.spec.tsx
  client/src/components/Habits/HabitLogStats.spec.tsx
  client/src/components/Habits/HabitOptionsMenu.spec.tsx
  server/Controllers/HabitLogController.cs
Labels: backend, frontend

feat: Achieve comprehensive test stability and build quality improvements (#56)
  .gitignore
  client/package-lock.json
  client/package.json
  client/src/api/habitLog.spec.ts
  client/src/components/Auth/ResetPassword.spec.tsx
  client/src/components/Auth/ResetPassword.tsx
  client/src/components/Auth/SignUp.spec.tsx
  client/src/components/Auth/SignUp.tsx
  client/src/components/Habits/AddHabitDialog.spec.tsx
  client/src/components/Habits/AddHabitLogDialog.spec.tsx
  client/src/components/Habits/HabitDetailPage.spec.tsx
  client/src/components/Habits/HabitLogStats.spec.tsx
  client/src/components/Habits/HabitOptionsMenu.spec.tsx
  client/src/components/Habits/HabitOptionsMenu.tsx
  client/yarn.lock
  server/Controllers/HabitLogController.cs
  server/Tests/Controllers/AuthControllerTest.cs
  server/Tests/Controllers/HabitControllerTest.cs
  server/Tests/Controllers/UsersControllerTest.cs
  server/Tests/Data/TasksTrackContextTest.cs
  server/Tests/Repositories/AuthRepositoryTest.cs
  server/Tests/Repositories/HabitLogRepositoryTest.cs
  server/Tests/Repositories/HabitRepositoryTest.cs
  server/Tests/Services/AuthServiceTest.cs
  server/Tests/TestResults/95c9bde5-e0fd-4e6d-8ead-eb8e3713758e/coverage.json
  server/Tests/Tests.csproj
Labels: backend, frontend

feat: Add comprehensive pre-commit hooks and fix markdown issues
  .github/copilot-instructions-client.md
  .github/copilot-instructions-server.md
  .github/copilot-instructions.md
  .gitignore
  .husky/pre-commit
  .markdownlint.json
  ReadMe.md
  client/README.md
  client/src/components/Auth/SignUp.spec.tsx
  client/src/components/Habits/AddHabitDialog.spec.tsx
  client/src/components/Habits/HabitOptionsMenu.spec.tsx
  docs/NET8_TO_NET9_UPGRADE_GUIDE.md
  docs/NET_UPGRADE_CHECKLIST.md
  docs/PRECOMMIT_SETUP.md
  package-lock.json
  package.json
  server/docs/README.md
  server/docs/api-development.md
  server/docs/authentication.md
  server/docs/clean-architecture.md
  server/docs/db-setup.md
  server/docs/dependency-injection.md
  server/docs/getting-started.md
  server/docs/learning-notes.md
  server/docs/migrations/case-studies/refresh-token-migration.md
  server/docs/migrations/troubleshooting-guide.md
  server/docs/repository-pattern.md
  server/docs/todos.md
  server/docs/unit-tests.md
Labels: backend, frontend, github

fix: Remove extra closing brace in HabitLogController
  .husky/pre-commit
  server/Controllers/HabitLogController.cs
Labels: backend

docs: Remove checkmarks and 80% coverage requirement from pre-commit setup
  docs/PRECOMMIT_SETUP.md
Labels: none

feat: Implement comprehensive pre-commit hooks (#57)
  .github/copilot-instructions-client.md
  .github/copilot-instructions-server.md
  .github/copilot-instructions.md
  .gitignore
  .husky/pre-commit
  .markdownlint.json
  ReadMe.md
  client/README.md
  client/src/components/Auth/SignUp.spec.tsx
  client/src/components/Habits/AddHabitDialog.spec.tsx
  client/src/components/Habits/HabitOptionsMenu.spec.tsx
  docs/NET8_TO_NET9_UPGRADE_GUIDE.md
  docs/NET_UPGRADE_CHECKLIST.md
  docs/PRECOMMIT_SETUP.md
  package-lock.json
  package.json
  server/Controllers/HabitLogController.cs
  server/docs/README.md
  server/docs/api-development.md
  server/docs/authentication.md
  server/docs/clean-architecture.md
  server/docs/db-setup.md
  server/docs/dependency-injection.md
  server/docs/getting-started.md
  server/docs/learning-notes.md
  server/docs/migrations/case-studies/refresh-token-migration.md
  server/docs/migrations/troubleshooting-guide.md
  server/docs/repository-pattern.md
  server/docs/todos.md
  server/docs/unit-tests.md
Labels: backend, frontend, github

build: update Node.js to 22.12.0 for dependency compatibility
  .github/workflows/run-tests.yml
  .nvmrc
  client/.nvmrc
  client/Dockerfile
  client/package-lock.json
  client/src/components/Habits/HabitOptionsMenu.spec.tsx
  client/yarn.lock
Labels: frontend, docker, github

.github/labeler.yml:

backend:
    - changed-files:
          - any-glob-to-any-file: ['server/**/*']

frontend:
    - changed-files:
          - any-glob-to-any-file: ['client/**/*']

docker:
    - changed-files:
          - any-glob-to-any-file: ['docker-compose.yml', 'client/Dockerfile', 'server/Dockerfile']

github:
    - changed-files:
          - any-glob-to-any-file: ['.github/**/*']

documentation:
    - changed-files:
          - any-glob-to-any-file: ["'**/*.md'"]

migrations:
    - changed-files:
          - any-glob-to-any-file: ['server/Migrations/**/*']
