Repository akarambizi/TasksTrack, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, docker, github, documentation, migrations

Update user registration and login forms, and add logout link in UserMenu
  PROJECT_PLAN.md
  client/src/components/Header/UserMenu.tsx
Labels: frontend

Add reset password functionality and related components
  client/src/App.tsx
  client/src/components/Auth/Login.tsx
  client/src/components/Auth/ResetPassword.tsx
  client/src/components/index.ts
Labels: frontend

Update user login form to use custom useForm hook
  PROJECT_PLAN.md
  client/src/components/Auth/Auth.hooks.ts
  client/src/components/Auth/Login.tsx
Labels: frontend

Implement form validation for user inputs in Auth components
  PROJECT_PLAN.md
  client/src/components/Auth/Auth.hooks.ts
  client/src/components/Auth/ResetPassword.tsx
  client/src/components/Auth/SignUp.tsx
Labels: frontend

Update user authentication API and components
  PROJECT_PLAN.md
  client/src/api/index.ts
  client/src/api/userAuth.ts
  client/src/components/Auth/Login.tsx
  client/src/components/Auth/ResetPassword.tsx
  client/src/components/Auth/SignUp.tsx
  client/src/hooks/index.ts
  client/src/hooks/useForm.ts
  client/src/hooks/userAuth.ts
Labels: frontend

Update user authentication API and components
  PROJECT_PLAN.md
  client/src/api/index.ts
  client/src/api/userAuth.ts
  client/src/api/userAuth.types.ts
  client/src/hooks/useForm.ts
Labels: frontend

Refactor userAuth hooks and update API imports
  client/src/hooks/userAuth.ts
Labels: frontend

Update userAuth API imports and refactor hooks
  client/src/api/index.ts
  client/src/api/userAuth.ts
  client/src/api/userAuth.types.ts
  client/src/hooks/useForm.ts
  client/src/hooks/userAuth.ts
Labels: frontend

Update dependencies and Docker images versions
  ReadMe.md
  client/src/mock-server/tsconfig.mock.json
  docker-compose.yml
  server/Dockerfile
  server/Tests/Tests.csproj
  server/server.csproj
Labels: backend, frontend, docker

update ReadMe
  ReadMe.md
Labels: none

Add authentication controller and related models, repositories, and services
  server/Controllers/AuthController.cs
  server/Models/LoginRequest.cs
  server/Models/PasswordResetRequest.cs
  server/Models/RegisterRequest.cs
  server/Models/User.cs
  server/Repositories/AuthRepository.cs
  server/Repositories/IAuthRepository.cs
  server/Services/AuthService.cs
  server/Services/IAuthService.cs
Labels: backend

Add authentication related services and repositories
  server/DependencyInjectionSetup.cs
  server/Makefile
Labels: backend

Refactor authentication services and models; implement JWT token generation and password reset functionality
  server/Controllers/AuthController.cs
  server/Data/TasksTrackContext.cs
  server/Migrations/20240516075306_InitialCreate.Designer.cs
  server/Migrations/TasksTrackContextModelSnapshot.cs
  server/Models/AuthResult.cs
  server/Models/LoginRequest.cs
  server/Models/PasswordResetRequest.cs
  server/Models/RegisterRequest.cs
  server/Models/User.cs
  server/Program.cs
  server/Repositories/AuthRepository.cs
  server/Repositories/IAuthRepository.cs
  server/Repositories/ToDoTaskRepository.cs
  server/Repositories/UserRepository.cs
  server/Services/AuthService.cs
  server/Services/IAuthService.cs
  server/docs/authentication.md
  server/server.csproj
Labels: backend, migrations

Fix method calls to explicitly use 'this'
  server/Services/AuthService.cs
Labels: backend

Update .NET version in CI workflow from 7.0.x to 8.0.x
  .github/workflows/run-tests.yml
Labels: github

Remove unused Password property from User model and update AuthService to reflect changes
  server/Models/User.cs
  server/Services/AuthService.cs
Labels: backend

add JWT secret configuration and password hashing
  server/Makefile
  server/Migrations/20250416061826_UpdateTableMigration.Designer.cs
  server/Migrations/20250416061826_UpdateTableMigration.cs
  server/Repositories/AuthRepository.cs
  server/Repositories/IAuthRepository.cs
  server/Services/AuthService.cs
  server/appsettings.Development.json
  server/docs/authentication.md
Labels: backend, migrations

Refactor AuthResult and User models to use nullable strings; add unit tests for AuthController and AuthService
  server/Models/AuthResult.cs
  server/Models/User.cs
  server/Services/AuthService.cs
  server/Tests/Controllers/AuthControllerTest.cs
  server/Tests/Services/AuthServiceTest.cs
Labels: backend

Update Microsoft.IdentityModel.Tokens and System.IdentityModel.Tokens.Jwt packages to version 8.8.0
  server/server.csproj
Labels: backend

Fix nullability issue in AuthControllerTest for token assertion
  server/Tests/Controllers/AuthControllerTest.cs
Labels: backend

Refactor user authentication API: update parameter descriptions, consolidate password reset functions, and adjust types for better clarity.
  client/src/api/userAuth.ts
  client/src/api/userAuth.types.ts
  client/src/hooks/userAuth.ts
Labels: frontend

Refactor user authentication: unify password reset data type, enhance validation messages, and streamline form handling across components.
  client/src/api/userAuth.ts
  client/src/api/userAuth.types.ts
  client/src/components/Auth/Login.tsx
  client/src/components/Auth/ResetPassword.tsx
  client/src/components/Auth/SignUp.tsx
  client/src/hooks/useForm.ts
  client/src/hooks/userAuth.ts
  server/Services/AuthService.cs
Labels: backend, frontend

Update Docker Compose configuration for .NET 8 compatibility and enhance password validation regex readability.
  docker-compose.yml
  server/Services/AuthService.cs
  server/appsettings.Development.json
Labels: backend, docker

Refactor user authentication types: make password optional and update ResetPassword form handling to use newPassword. Enhance password validation regex for improved readability.
  client/src/api/userAuth.types.ts
  client/src/components/Auth/ResetPassword.tsx
  client/src/hooks/useForm.ts
  docker-compose.yml
  server/Models/User.cs
Labels: backend, frontend, docker

Refactor authentication flow: Introduce AuthProvider and ProtectedRoute for better state management
  client/src/App.tsx
  client/src/api/userAuth.ts
  client/src/api/userAuth.types.ts
  client/src/components/Auth/Login.tsx
  client/src/components/Container.tsx
  client/src/components/index.ts
  client/src/context/index.ts
  client/src/context/userAuth.tsx
  client/src/hooks/useForm.ts
  client/src/hooks/userAuth.ts
Labels: frontend

Include cookies in login/logout requests and secure token handling with HTTP-only cookies.
  client/src/api/userAuth.ts
  server/Controllers/AuthController.cs
Labels: backend, frontend

Implement token validation and refactor authentication logic
  client/package.json
  client/src/api/userAuth.ts
  client/src/context/userAuth.tsx
  client/yarn.lock
  server/Controllers/AuthController.cs
  server/Models/TokenRequest.cs
  server/Services/AuthService.cs
  server/Services/IAuthService.cs
Labels: backend, frontend

Added react-cookie
  client/Dockerfile
  client/package.json
  client/src/App.tsx
  client/src/context/userAuth.tsx
  client/yarn.lock
Labels: frontend, docker

Refactor authentication flow: implement token validation, and enhance login response handling
  client/src/App.tsx
  client/src/context/userAuth.tsx
  client/src/hooks/useForm.ts
  client/src/hooks/userAuth.ts
  client/src/main.tsx
  server/Controllers/AuthController.cs
  server/Program.cs
  server/Services/AuthService.cs
  server/Services/IAuthService.cs
Labels: backend, frontend

Fix password casing in registration tests for consistency
  server/Tests/Services/AuthServiceTest.cs
Labels: backend

Update react-router-dom to version 7.5.3 and add tests for Login component
  client/package.json
  client/src/components/Auth/Login.spec.tsx
  client/src/components/Auth/Login.tsx
  client/yarn.lock
Labels: frontend

Fix formatting in Login.spec.tsx: remove trailing comma and add newline at end of file
  client/src/components/Auth/Login.spec.tsx
Labels: frontend

Refactor mock server: update mock-server script, add auth middleware, and implement authentication responses
  client/package.json
  client/src/mock-server/data/auth-middleware.ts
  client/src/mock-server/data/auth.ts
  client/src/mock-server/data/routes.ts
  client/src/mock-server/data/tasks.ts
  client/src/mock-server/server.ts
Labels: frontend

Implement mock authentication middleware and sample data for user authentication
  client/package.json
  client/src/mock-server/data/auth/auth.middleware.ts
  client/src/mock-server/data/auth/auth.ts
  client/src/mock-server/data/routes.ts
  client/src/mock-server/data/tasks/tasks.ts
  client/src/mock-server/server.ts
Labels: frontend

Add custom middlewares for mock server and refactor middleware usage
  client/src/mock-server/data/middlewares.ts
  client/src/mock-server/server.ts
Labels: frontend

Add Pomodoro and Sessions components, update routing, and enhance task data structure
  client/src/App.tsx
  client/src/api/toDoTask.types.ts
  client/src/components/Pomodoro/Pomodoro.tsx
  client/src/components/Sessions/Sessions.tsx
  client/src/components/Sidebar/SideBarLinks.tsx
  client/src/components/Sidebar/SideBarNav.tsx
  client/src/components/Sidebar/UserNav.tsx
  client/src/components/Tasks/Tasks.tsx
  client/src/components/index.ts
  client/src/mock-server/data/tasks/tasks.ts
Labels: frontend

feat: add AddTaskDialog component for task creation
  client/package.json
  client/src/components/Tasks/AddTaskDialog.tsx
  client/src/components/Tasks/Tasks.tsx
  client/src/components/Tasks/index.ts
  client/src/components/Tasks/useTaskForm.ts
  client/src/components/ui/alert.tsx
  client/src/components/ui/dialog.tsx
  client/src/components/ui/select.tsx
  client/src/components/ui/textarea.tsx
  client/yarn.lock
Labels: frontend

feat: enhance Pomodoro component with timer functionality and add PomodoroDialog for task focus
  client/src/components/Pomodoro/Pomodoro.tsx
  client/src/components/Pomodoro/PomodoroDialog.tsx
  client/src/components/Pomodoro/index.ts
  client/src/components/Tasks/TaskOptionsMenu.tsx
  client/src/components/Tasks/Tasks.tsx
  client/src/components/Tasks/index.ts
Labels: frontend

feat: add toast notification system with Radix UI and custom hooks
  client/package.json
  client/src/App.tsx
  client/src/api/API_DOCS.md
  client/src/api/apiClient.ts
  client/src/api/index.ts
  client/src/api/toDoTask.ts
  client/src/api/user.ts
  client/src/api/userAuth.ts
  client/src/components/Tasks/AddTaskDialog.tsx
  client/src/components/Tasks/TaskOptionsMenu.tsx
  client/src/components/Tasks/useTaskForm.ts
  client/src/components/ui/toast.tsx
  client/src/components/ui/toaster.tsx
  client/src/hooks/index.ts
  client/src/hooks/use-toast.ts
  client/src/hooks/useAuth.ts
  client/src/hooks/useQueryHooks.ts
  client/src/hooks/useTasks.ts
  client/src/hooks/userAuth.ts
  client/src/services/toastService.tsx
  client/yarn.lock
Labels: frontend

feat: implement authentication context and protected routes, add loading and theme toggle components
  client/package.json
  client/src/App.tsx
  client/src/components/index.ts
  client/src/components/providers/index.ts
  client/src/components/providers/query-client-provider.tsx
  client/src/components/ui/index.ts
  client/src/components/ui/loading.tsx
  client/src/components/ui/theme-toggle.tsx
  client/src/context/ProtectedRoute.tsx
  client/src/context/index.ts
  client/src/context/useAuth.ts
  client/src/context/userAuthProvider.tsx
  client/yarn.lock
Labels: frontend

.github/labeler.yml:

backend:
    - changed-files:
          - any-glob-to-any-file: ['server/**/*']

frontend:
    - changed-files:
          - any-glob-to-any-file: ['client/**/*']

docker:
    - changed-files:
          - any-glob-to-any-file: ['docker-compose.yml', 'client/Dockerfile', 'server/Dockerfile']

github:
    - changed-files:
          - any-glob-to-any-file: ['.github/**/*']

documentation:
    - changed-files:
          - any-glob-to-any-file: ["'**/*.md'"]

migrations:
    - changed-files:
          - any-glob-to-any-file: ['server/Migrations/**/*']
